* {
  box-sizing: border-box;
}
h1,
h2,
p {
  margin: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
body {
  margin: 16px;

  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 150%;
  letter-spacing: 0.04em;
}

#categories {
  padding: 24px;
  max-width: 440px;
  background-color: #fff;
}
h2 {
  font-weight: 600;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #2e2f42;
  margin-bottom: 16px;
}
.item {
  background-color: #f6f6fe;
  padding: 16px;
  border-radius: 8px;
}
.item + .item {
  margin-top: 24px;
}

.item > ul > li {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 7px 16px;
  color: #2e2f42;
  margin-bottom: 8px;
}
.item > ul :last-child {
  margin-bottom: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  row-gap: 48px;
  column-gap: 24px;
  padding: 100px min(10.8%, 156px);
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.gallery-item {
  max-width: calc((100% - 2 * 24px) / 3);
  min-width: 225px;
}
.gallery-item img {
  aspect-ratio: 360/300;
  object-fit: cover;
  object-position: center;
}
